<a href="https://colab.research.google.com/github/IsaevSlava2001/big_data_mirea/blob/main/pr1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd

# 1
Написать программу, которая вычисляет площадь фигуры,
параметры которой подаются на вход. Фигуры, которые подаются на вход:
треугольник, прямоугольник, круг. Результатом работы является словарь, где
ключ – это название фигуры, а значение – это площадь.

Площадь треугольника
$${S} = {{1 \over 2} ah},$$
где а — размер основания, h — длина высоты

Площадь квадрата
$${S} = {a^2},$$
где a — сторона квадрата

Площадь круга
$${S} = {πR^2},$$
где R — радиус круга

In [ ]:
tri_a,h = input("input a and h of triangle: ").split()
sq_a = input("input a of square: ")
R = input("input R of circle: ")
squares = {"triangle": 1/2*int(tri_a)*int(h), "square": int(sq_a)**2, "circle": 3.14*int(R)**2}
print(squares)

input a and h of triangle 7 5
input a of square 4
input R of circle 8
{'triangle': 17.5, 'square': 16, 'circle': 200.96}

# 2
Написать программу, которая на вход получает два числа и
операцию, которую к ним нужно применить. Должны быть реализованы
следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в
степень

In [ ]:
a, b, operator = input("input a, b and operator: ").split()

a = int(a)
b = int(b)

if operator == "+":
  print(a+b)
elif operator == "-":
  print(a-b)
elif operator == "*":
  print(a*b)
elif operator == "/":
  print(a/b)
elif operator == "//":
  print(a//b)
elif operator == "**" or operator == "pow":
  print(a**b)
elif operator == "abs":
  print(abs(a))

input a, b and operator: 7 2 pow
49

# 3
Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [ ]:
sum = int(input())
square_sum = sum**2
while sum != 0:
  sum += int(input())
  square_sum += sum**2
print(square_sum)

7
8
10
-25
899

# 4
Напишите программу, которая выводит последовательность
чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N. Например,
если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
через пробел – print(*list).

In [ ]:
N = int(input())
a=[]
for i in range (N):
  for k in range(i):
    a.append(i)
  if len(a) >= N:
    break
print(*a[:N])

7
1 2 2 3 3 3 4

# 5
Даны два списка:
```
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
```
Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {'a' : 10, 'b' : 15, 'c' : 6}.

In [ ]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
result = {}
for i in range(len(A)):
  updated = {B[i]: result[B[i]] + A[i] if B[i] in result else A[i]}
  result.update(updated)
print(result)

{'a': 17, 'b': 11, 'c': 17}

# 6
Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn

In [1]:
from sklearn.datasets import fetch_california_housing
data=fetch_california_housing(as_frame=True)

In [11]:
type(data)

sklearn.utils._bunch.Bunch

In [13]:
data1 = pd.DataFrame(data= np.c_[data['data'], data['target']],
                     columns= data['feature_names'] + ['target'])

## 6.1
Использовать метод info().

In [14]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   target      20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

## 6.2
Узнать, есть ли пропущенные значения, используя isna().sum().

In [15]:
data1.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
target        0
dtype: int64

In [19]:
data1

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

## 6.3
Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().

In [23]:
data1.loc[(data1['HouseAge']>50) & (data1['Population']>2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

## 6.4
Узнать максимальное и минимальное значения медианной
стоимости дома.

In [26]:
print(data1.MedInc.max())
print(data1.MedInc.min())

15.0001
0.4999

## 6.5
Используя метод apply(), вывести на экран название признака и его
среднее значение.

In [37]:
def print_mean(column):
    mean_value = column.mean()
    print(f'Название признака: {column.name}, Среднее значение: {mean_value}')

data1.apply(print_mean, axis=0)

Название признака: MedInc, Среднее значение: 3.8706710029069766
Название признака: HouseAge, Среднее значение: 28.639486434108527
Название признака: AveRooms, Среднее значение: 5.428999742190376
Название признака: AveBedrms, Среднее значение: 1.096675149606208
Название признака: Population, Среднее значение: 1425.4767441860465
Название признака: AveOccup, Среднее значение: 3.0706551594363742
Название признака: Latitude, Среднее значение: 35.63186143410853
Название признака: Longitude, Среднее значение: -119.56970445736432
Название признака: target, Среднее значение: 2.068558169089147

MedInc        None
HouseAge      None
AveRooms      None
AveBedrms     None
Population    None
AveOccup      None
Latitude      None
Longitude     None
target        None
dtype: object

# 7
Дан текст на английском языке. Необходимо закодировать его с
помощью азбуки Морзе, где каждой букве соответствует
последовательность точек и тире. Например, буква «g» превратится в
строку «--.». В переменной morze для удобства хранится словарь
соответствия латинских букв коду Морзе.

```
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
 'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
 'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
 'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
 'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
 'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
 'y': '-.--', 'z': '--..'}
```

На входе: В одной строке вам дан текст, который состоит из латинских
букв и пробелов.

На выходе:
Выведите каждое слово исходного текста, закодированное азбукой
Морзе. Количество строк в ответе должно совпадать с количеством слов
в исходном тексте. Между закодированными буквами ставится ровно
один пробел. Например, слово «Help» превратится в «.... . .-.. .--.».
Строчные и заглавные буквы кодируются одинаково.

Например:
Ignition sequence start

Перевод
.. --. -. .. - .. --- -.
… . --.- ..- . -. -.-. .
… - .- .-. -

In [41]:
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
 'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
 'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
 'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
 'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
 'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
 'y': '-.--', 'z': '--..'}

text=input("Enter text: ")
text=text.lower()
for i in text:
  if i==" ":
    print("\n", end=" ")
  else:
    print(morze[i], end=" ")

Enter text: Ignition sequence start
.. --. -. .. - .. --- -.
 … . --.- ..- . -. -.-. .
 … - .- .-. -

# 7
В некотором городе открывается новая служба по доставке электронных
писем. Необходимо наладить систему регистрации новых
пользователей.
Регистрация должна работать следующим образом: если новый
пользователь хочет зарегистрироваться на сайте, то он должен послать
системе запрос name со своим именем. Система должна определить,
существует ли уже такое имя в базе данных. Если такого имени не
существует, то оно заносится в базу данных системы и пользователю
возвращается ответ "ОК", подтверждающий успешную регистрацию. А
если пользователь с таким именем уже существует, то система должна
сформировать новое имя и выдать его пользователю в качестве
подсказки, при этом сама подсказка также добавляется в базу данных.
Новое имя формируется следующим образом: к name последовательно
приписываются числа, начиная с 1 (name1, name2 и так далее), и среди
них находят такое наименьшее i, что namei еще не содержится в системе.

Входные данные
В первой строке входных данных задано число n (1 ≤ n ≤ 100000).
Следующие n строк содержат запросы к системе. Каждый запрос
представляет собой непустую строку длиной не более 32 символов,
состоящую только из строчных букв латинского алфавита.

Выходные данные
В выходных данных должно содержаться n строк – ответы системы на
запросы: "OK" в случае успешной регистрации, или подсказка с новым
именем, если запрашиваемое уже занято.

Данные для проверки:

|Вход| Выход|
|:------|:---------|
|3<br>b<br>b<br>b|<br>OK<br>b1<br>b2|
|10<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp<br>bhnqaptmp|<br>OK<br>bhnqaptmp1<br>bhnqaptmp2<br>bhnqaptmp3<br>bhnqaptmp4<br>bhnqaptmp5<br>bhnqaptmp6<br>bhnqaptmp7<br>bhnqaptmp8<br>bhnqaptmp9|
|10<br>fpqhfouqdldravpjttarh<br>fpqhfouqdldravpjttarh<br>fpqhfouqdldravpjttarh<br>fpqhfouqdldravpjttarh<br>fpqhfouqdldravpjttarh<br>fpqhfouqdldravpjttarh<br>jmvlplnrmba<br>fpqhfouqdldravpjttarh<br>jmvlplnrmba<br>fpqhfouqdldravpjttarh|<br>OK<br>fpqhfouqdldravpjttarh1<br>fpqhfouqdldravpjttarh2<br>fpqhfouqdldravpjttarh3<br>fpqhfouqdldravpjttarh4<br>fpqhfouqdldravpjttarh5<br>OK<br>fpqhfouqdldravpjttarh6<br>jmvlplnrmba1<br>fpqhfouqdldravpjttarh7|

In [47]:
n=input("Enter count: ")
n=int(n)
names={}
answer=""
for i in range(n):
  k=input("Enter name: ")
  if k not in names:
    names[k]=1
    answer+="OK\n"
  else:
    answer+=str(k)+str(names[k])+"\n"
    names[k]=names[k]+1
print(answer)

Enter count: 10
Enter name: fpqhfouqdldravpjttarh
Enter name: fpqhfouqdldravpjttarh
Enter name: fpqhfouqdldravpjttarh
Enter name: fpqhfouqdldravpjttarh
Enter name: fpqhfouqdldravpjttarh
Enter name: fpqhfouqdldravpjttarh
Enter name: jmvlplnrmba
Enter name: fpqhfouqdldravpjttarh
Enter name: jmvlplnrmba
Enter name: fpqhfouqdldravpjttarh
OK
fpqhfouqdldravpjttarh1
fpqhfouqdldravpjttarh2
fpqhfouqdldravpjttarh3
fpqhfouqdldravpjttarh4
fpqhfouqdldravpjttarh5
OK
fpqhfouqdldravpjttarh6
jmvlplnrmba1
fpqhfouqdldravpjttarh7

# 8
Необходимо создать программу обработки запросов пользователей к
файловой системе компьютера. Над каждым файлом можно производить
следующие действия: запись – w ("write"), чтение – r ("read"), запуск – x
("execute").

Входные данные
На вход программе подаются следующие параметры: число n –
количество файлов в файловой системе. В следующих n строках
содержится информация с именами файлов и допустимыми действиями
(w, x, r), разделенных пробелами. Далее идет число m – количество
запросов к файлам вида «операция файл» (обозначение операции:
"write", "read", "execute").

Выходные данные
Для каждого допустимого запроса программа должна возвращать OK,
для недопустимого – Access denied.

Данные для проверки:

|Вход |Выход|
|:----|:----|
|3<br>python.exe x<br>book.txt r w<br>notebook.exe r w x<br>5<br>read python.exe<br>read book.txt<br>write notebook.exe<br>execute notebook.exe<br>write book.txt|<br><br><br><br><br>Access denied<br>OK<br>OK<br>OK<br>OK|
|3<br>root.html r w x<br>main.py x<br>login.txt w r<br>4<br>read root.html<br>write main.py<br>execute main.py<br>execute login.txt|<br><br><br><br><br>OK<br>Access denied<br>OK<br>Access denied|
|2<br>1.txt<br>2.txt<br>2<br>write 1.txt<br>execute 2.txt|<br><br><br><br>Access denied<br>Access denied|

In [57]:
f=int(input("Enter count of files:"))
files={}
answer=""
for i in range(f):
  s=input("Enter file name and access rights in format 'filename.extension access_right access_right ...':")
  k=s.split()
  files[k[0]]=[j for j in k[1:]]
o=int(input("Enter count of operations:"))
for i in range(o):
  s=input("Enter operation in format ' operation filename.extension':")
  k=s.split()
  if k[0]=="read":
    k[0]='r'
  elif k[0]=="write":
    k[0]='w'
  elif k[0]=="execute":
    k[0]='x'
  if k[0] in files[k[1]]:
    answer+="OK\n"
  else:
    answer+="Access denied\n"
print(answer)

Enter count of files:2
Enter file name and access rights in format 'filename.extension access_right access_right ...':1.txt
Enter file name and access rights in format 'filename.extension access_right access_right ...':2.txt
Enter count of operations:2
Enter operation in format ' operation filename.extension':write 1.txt
Enter operation in format ' operation filename.extension':execute 2.txt
Access denied
Access denied